force-app/main/default/flows/Order_Product_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>OPCollection</name>
        <label>OPCollection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TempOP</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleOrderProd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iter_Over_QLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SingleIter</name>
        <label>SingleIter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SingleOrderProd.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iter_Over_QLI.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOrderProd.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iter_Over_QLI.PricebookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOrderProd.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iter_Over_QLI.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOrderProd.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOrderProd.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iter_Over_QLI.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OPCollection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Order Product Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Product Creation</label>
    <loops>
        <name>Iter_Over_QLI</name>
        <label>Iter Over QLI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_QLI_for_Order</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SingleIter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Order_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Order_Products</name>
        <label>Create Order Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>TempOP</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_QLI_for_Order</name>
        <label>Get QLI for Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iter_Over_QLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.QuoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_QLI_for_Order</targetReference>
        </connector>
        <object>Order</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SingleOrderProd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>TempOP</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
